<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Update Profile</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="col-md-4 text-center">
          <div class="image-upload-area">
            <%= image_tag attachment_url(@user, :profile_image, :fill, 200, 200, fallback: 'user-default-lg.png'),
                                                class: 'img-circle',
                                                title: 'Change Image',
                                                direct: true %>
          </div>
          <small>Click to select another image</small>
          <%= f.attachment_field :profile_image, class: 'image-input' %>
        </div>

        <div class="col-md-7">
          <%= f.input :name, label: false, required: true %>
          <%= f.input :email, label: false, required: true %>
        </div>

        <div class="col-md-1">
          <%= f.button :submit, "Update", class: 'btn btn-success' %>
          <%= link_to 'Cancel', my_profile_path, class: 'btn btn-link' %>
        </div>
      <% end %>

      <div class="clearfix"></div>

      <h3>Cancel my account</h3>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" },
                                                                                     method: :delete %></p>
    </div>
  </div>
</div>
