<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="col-md-6 col-md-offset-3 text-center profile">
        <%= image_tag attachment_url(user, :profile_image, :fill, 200, 200, fallback: 'user-default-lg.png'),
                                           class: 'img-circle' %>

        <h3><%= user.name %></h3>
        <h5><%= user.email %></h5>

        <ul class="list-inline">
          <li class="user-count">
            <span>Followers</span>
            <div class="text-center"><%= user.followers.size %></div>
          </li>
          <li class="user-count">
            <span>Following</span>
            <div class="text-center"><%= user.following.size %></div>
          </li>
          <li class="user-count">
            <span>Posts</span>
            <div id="posts-count" class="text-center"><%= user.posts.size %></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
