<div class="post">
  <h4>
    <%= link_to user_path(user) do %>
      <%= image_tag attachment_url(user, :profile_image, :fill, 48, 48, fallback: 'user-default-md.png'),
                                          class: 'img-circle' %>
      <span><%= user.name %></span>
    <% end %>
    <small>Posted at <%= l post.created_at, format: :short %></small>
  </h4>

  <p class="post-text"><%= post.text %></p>
</div>
