<!DOCTYPE html>
<html>
<head>
  <title>Alpha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/menu' %>

<div class="flash">
  <%= render 'layouts/flash_messages' %>
</div>

  <main>
    <%= yield %>
  </main>

</body>
</html>
